* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Sans-Serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Start header section*/
header {
  padding-top: 70px;
  text-align: center;
  lone-height: 1.6;
}

header h1 {
  font-size: 27px;
  font-weight: 300px;
  color: hsl(229, 6%, 66%);
}

header h2 {
  font-size: 27px;
  font-weight: 300px;
  color: hsl(234, 12%, 34%);
}

header p {
  font-size: 17px;
  font-weight: 300px;
  color: hsl(229, 6%, 66%);
}
/*End header section*/

/*Start cards section*/
.cards {
  margin-top: 70px;
}
.cards .card {
  background-color: hsl(0, 0%, 100%);
  padding: 29px 25px;
  width: 100%;
  max-width: 352px;
  margin: 0px auto 25px auto;
  border-top: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(216, 226, 238, .75);
}

.cards .card:nth-last-of-type(1) {
  border-color: hsl(180, 62%, 55%);
}
.cards .card:nth-last-of-type(2) {
  border-color: hsl(0, 78%, 62%);
}
.cards .card:nth-last-of-type(3) {
  border-color: hsl(212, 86%, 64%);
}
.cards .card:nth-last-of-type(4) {
  border-color: hsl(34, 97%, 64%);
}
.cards .card h3 {
  color: hsl(234, 12%, 34%);
}
.cards .card p {
  color: hsl(229, 6%, 66%);
  font-size: 13px;
  letter-spacing: .5px;
  line-height: 1.8;
  margin: 12px 0px 36px 0px;
}
.cards .card img {
  display: block;
  margin-left: auto;
}
/*End cards section*/

/*responsive*/
/*small*/
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 740px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 352px);
    column-gap: 25px;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
  header {
    padding: 50px;
  }
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 36px;
    margin-top: 0px;
  }
  .cards {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
  }
  .cards .card {
    margin-left: 25px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .cards .down {
    transform: translateY(50%);
  }
}

media (min-width: 1440px) {
  .container {
    width: 1320px;
  }
}
